@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Montserrat:wght@500&family=Poppins:wght@300;400;500&display=swap");
:root {
    --dark-bg-color: #100e1d;
    --primary-color: #2d9cdb;
    --grey-bg-color: #f2f2f2;
    --grey-text-color: #bdbdbd;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

.fluid-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button--primary {
    background-color: var(--primary-color);
    font-size: 1em;
    padding: 1.5em 1.3em;
    line-height: 0;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}

.rounded-img {
    border-radius: 18px;
    object-fit: cover;
}

.color-primary {
    color: var(--primary-color);
}

.input-container {
    display: flex;
    background-color: var(--grey-bg-color);
    border-radius: 12px;
    padding: 4px;
}

.input-container input {
    font-size: 0.875em;
    flex: 1;
    border: none;
    background: none;
    margin-inline: 1.2em;
}

.input-container input::placeholder {
    color: var(--grey-text-color);
}

.input-container input:focus {
    border: none;
    outline: none;
}

header {
    background: white;
    top: 0;
    position: sticky;
    padding: clamp(1em, 3vw, 2em) clamp(0.7em, 3vw, 2em);
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    z-index: 1;
}

.navigation__brand-name {
    font-family: "Heebo", sans-serif;
    font-size: 1.5em;
    font-weight: 800;
}

.navigation__list {
    right: 0;
    top: 0;
    position: fixed;
    background-color: var(--dark-bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    transition: all 0.5s ease;
    justify-content: start;
    align-items: center;
    padding: 2em;
    list-style: none;
    right: -100%;
    font-size: 1.5em;
}

.navigation__mobile-menu-scrim {
    display: none;
    transition: all 0.5s ease;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.navigation__mobile-menu-scrim.visible {
    display: block;
}

.navigation__list.opened {
    right: 0;
}

.navigation__list a {
    text-decoration: none;
    color: white;
}

.navigation__hamburger-button {
    cursor: pointer;
    border: none;
    background: none;
}

.section__title {
    font-size: 1.5em;
    font-weight: 500;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: clamp(0.7rem, 2vw, 2.5rem);
}

.hero__title-container {
    margin-top: 2em;
}

.hero__title__unhappy-text {
    font-size: 0.9em;
}

.hero__title__create-beautiful-websites-text {
    font-size: 1.5em;
    font-weight: 500;
}

.hero__image {
    object-fit: cover;
    height: clamp(160px, 18vw, 354px);
    max-width: 1500px;
    width: 100%;
    align-self: center;
}

.hero__contact-us-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.hero__contact-us__title {
    font-weight: 500;
}

.hero__contact-us__description {
    font-size: 0.75em;
    font-weight: 400;
    max-width: 275px;
    color: #4f4f4f;
}

.hero__contact-us__input {
    max-width: 291px;
}

.hero__contact-us__input .input-container {
    font-size: 0.875em;
}

.hero__title-container,
.hero__contact-us-container {
    margin-right: 3rem;
    margin-left: max(3rem, 25%);
}

.contact__question {
    color: #828282;
    font-size: 0.7em;
}

.contact-input-container .input-container {
    margin-top: 5px;
}

.services-container {
    margin-top: 100px;
}

.services-sub-container,
.works-sub-container,
.team-sub-container,
.clients-sub-container,
.footer__sub-container {
    display: flex;
    flex-direction: column;
    margin-inline: 3rem;
    max-width: 1200px;
    width: 100%;
}

.services-sub-container {
    gap: 3em;
}

.services__list {
    display: flex;
    gap: 3em;
    flex-direction: column;
    justify-content: center;
}

.service-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    padding: 2rem;
    border-radius: 24px;
    transition: all 0.25s ease;
}

.service-container:hover {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.service__logo-container {
    height: 67px;
    aspect-ratio: 1/1;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.service__logo-container img {
    width: 100%;
    height: 100%;
}

.service__ui-logo-container {
    background-color: #2d9cdb;
}

.service__front-end-logo-container {
    background-color: #27ae60;
}

.service__back-end-logo-container {
    background-color: #eb5757;
}

.service__title {
    font-weight: 700;
    font-size: 1.5em;
}

.service__description {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.works-container {
    margin-top: 100px;
}

.works__title {
    margin-inline: 3rem;
}

.works__list-container {
    display: flex;
    flex-direction: column;
    margin: 0.6rem;
    margin-top: 3rem;
    gap: 30px;
}

.work__image {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
}

.work__type-text {
    margin-top: 10px;
    color: #828282;
    font-size: 1em;
    font-weight: 300;
}

.work__app-name {
    font-size: 1.125em;
    font-weight: 500;
}

.team-container {
    margin-top: 125px;
    overflow: hidden;
}

.team-sub-container {
    display: flex;
    flex-direction: column;
}

.team-presentation__meet-team-text {
    color: #eb5757;
    font-size: 1.125em;
    font-weight: 500;
}

.team-presentation__title {
    font-size: 2.25em;
    font-weight: 500;
    margin-top: 0.2em;
}

.team-presentation__description {
    font-size: 1em;
    margin-top: 1em;
}

.team-photos-container {
    width: 100%;
    display: grid;
    align-items: center;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.team-photos-container img:first-child {
    grid-row-start: 1;
    grid-row-end: span 2;
    width: 100%;
}

.team-photos-container img:nth-child(2) {
    align-self: end;
    width: 87%;
}

.team-photos-container img:nth-child(3) {
    margin-right: 10px;
    width: 95%;
    align-self: flex-start;
}

.team-photos-container img {
    border-radius: 24px;
}

.clients-container {
    margin-top: 125px;
}

.clients-sub-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
}

.client__saying {
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

.client__profile {
    width: 100%;
    display: flex;
    gap: 2em;
}

.client__profile-image {
    height: 90px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 12px;
}

.client__profile__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.client__profile__info__name {
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

.client__profile__info__job {
    font-family: "Poppins", sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    color: #828282;
}

footer {
    background-color: var(--dark-bg-color);
    padding: 1.5em 2.5em;
    padding-top: 2.5em;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer__sub-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer__navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 1.125em;
}

.footer__navigation a {
    color: white;
    text-decoration: none;
}

.footer__created-by {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    margin-top: 150px;
    font-family: "Montserrat", sans-serif;
}

.footer__created-by__name {
    font-weight: bold;
}

.footer__social-medias {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__social-medias__list {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 1.7em;
}

.footer__social-medias__list a {
    height: 100%;
}

.footer__social-medias__list img {
    height: 100%;
    width: 100%;
}

.footer__social-medias__title {
    font-family: "Heebo", sans-serif;
    font-size: 2.25em;
    font-weight: 800;
}

@media (min-width: 768px) {
    .section__title {
        font-size: 2.25em;
    }

    .navigation__hamburger-button {
        display: none;
    }

    .navigation__mobile-menu-scrim.visible {
        display: none;
    }

    .navigation__list {
        position: relative;
        min-height: 0;
        right: 0;
        background: none;
        flex-direction: row;
        padding: 0;
        font-size: 1.5em;
    }

    .navigation__list a {
        font-size: 0.8em;
        color: black;
        font-weight: 500;
    }

    .hero__title-container {
        font-size: 1.7em;
    }

    .hero__contact-us__title {
        font-size: 2.4em;
    }

    .hero__contact-us__description {
        font-size: 0.8em;
    }

    .hero__contact-us__input {
        font-size: 1.1em;
    }

    .works__list-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .work__app-name {
        font-size: 1.5em;
    }

    .work-container:nth-child(2n-1) {
        margin-top: clamp(60px, 8vw, 110px);
        transform: translateY(10%);
    }

    .team-sub-container {
        flex-direction: row;
        align-items: center;
        gap: 10vw;
        justify-content: space-between;
    }

    .team-photos-container {
        gap: 1rem;
    }

    .team-photos-container {
        flex: 1;
        width: auto;
    }

    .client__saying {
        font-size: 2.25em;
    }

    .clients-sub-container {
        justify-self: start;
        padding-right: max(250px, 10%);
    }

    .footer__sub-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 900px) {
    .service-container {
        flex: 1;
    }

    .services__list {
        flex-direction: row;
    }
}
